.timeline-center-h {
    text-align: left;
}

.timeline-margin{
    margin: 30px 0;
}

.timeline-margin-header{
    margin-top: 30px;
}

.bottomline {
    padding:2px; 
    color: #e61718;
    background-color: #e61718;
}

.btn-primary {
    color: #fff;
    background-color: #414140;
    border-color: #414140;
}

.timeline-margin h5{
    font-size: 18px;
    font-weight: 600;
}

.upper-text-format{
    font-size: 12px;
    color: #414140;
}

.lower-text-format{
    font-size: 15px;
    color: #414140;
    font-weight: 600;
}

.reset{
    text-decoration: underline;
    cursor: pointer; 
    color: #e61718;
}

#jobDetailsDescription{
    display: none;
}

.alert-danger{
    display: none;
}

@media only screen and (max-width: 600px) {
   .mobile{
       display: block;
    }

    .webApp{
        display: none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mobile{
        display: none;
    }
 
    .webApp{
         display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mobile{
        display: none;
    }
 
    .webApp{
         display: block;
    }
} 

@media only screen and (min-width: 992px) {
    .mobile{
        display: none;
    }
 
    .webApp{
         display: block;
    }
} 